body {
    max-width: 1000px;
    margin: auto;
}

label, textarea, select, input {
    font-family: Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 10px;
}

label {
    padding: 2px 2px 2px 4px;
}

h1, h2 {
    font-family: Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 14px;
}

section > div {
    border-right: 0.05mm solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.05mm solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.suspect_adverse_reaction_report {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

section > div:not(.severity, .abate, .reappear, .source, .report_type, .dummy3, .suspect_adverse_reaction_report) {
    justify-content: space-between;
}

#date_of_birth, #reaction_onset, #abate, #reappear, #report_type, #source, #suspect_drug_1_therapy_dates {
    display: flex;
}

.dummy3 {
    flex-direction: row;
    justify-content: space-evenly;
}

label[for="date_of_birth"], label[for="reaction_onset"] {
    border-bottom: 0.05mm solid rgba(0, 0, 0, 0.5);
}

.day, .month, .cell, #suspect_drug_1_therapy_from {
    border-right: 0.05mm solid rgba(0, 0, 0, 0.5);
}

input:not(input[type="checkbox"], input[type="radio"]), select, textarea {
    box-sizing: border-box;;
    width: 100%;
    /*border: solid 1px #ccc;*/
    /*border-radius: 0;*/
    border: none;
    background: #edf3ff;
}

textarea {
    height: calc(100% - 14px);
    resize: vertical;
}

.severity label {
    display: flex;
    align-items: flex-start;
}

.severity label:nth-child(n+2) {
    padding-left: 0;
}

.abate label {
    display: flex;
    align-items: flex-start;
}

#abate label {
    padding-left: 0;
}

.reappear label {
    display: flex;
    align-items: flex-start;
}

#reappear label {
    padding-left: 0;
}

.source label {
    display: flex;
    align-items: flex-start;
}

.source :nth-child(n+2) {
    padding-left: 0;
}

#source label {
    padding-left: 0;
}

.report_type label {
    display: flex;
    align-items: flex-start;
}

#report_type label {
    padding-left: 0;
}

input[type="checkbox"] {
    accent-color: black;
    vertical-align: middle;
    margin-top: -1px;
    padding-left: 0;
}

input[type="radio"] {
    accent-color: black;
    vertical-align: middle;
    margin-top: -1px;
    padding-left: 0;
}

.header_right2 input, .text textarea, .text2 input {
    height: 100%;
}

.layout {
    display: grid;
    grid:
    "cioms_form cioms_form cioms_form cioms_form cioms_form cioms_form cioms_form cioms_form cioms_form cioms_form cioms_form" auto
    "suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report dummy1 dummy1 dummy1 dummy1 dummy1" 1fr
    "suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report header_right2 header_right2 header_right2 header_right2 header_right2" 1fr
    "suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report suspect_adverse_reaction_report dummy2 dummy2 dummy2 dummy3 dummy3" 1fr
    "header_I header_I header_I header_I header_I header_I header_I header_I header_I header_I header_I" auto
    "patient_initials patient_initials country country date_of_birth date_of_birth age sex reaction_onset reaction_onset severity" auto
    "describe_reaction describe_reaction describe_reaction describe_reaction describe_reaction describe_reaction describe_reaction describe_reaction describe_reaction describe_reaction severity" 4.5fr
    "header_II header_II header_II header_II header_II header_II header_II header_II header_II header_II header_II" auto
    "suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name suspect_drug_1_name abate" 1.5fr
    "suspect_drug_1_dose suspect_drug_1_dose suspect_drug_1_dose suspect_drug_1_dose suspect_drug_1_dose suspect_drug_1_dose suspect_drug_1_route suspect_drug_1_route suspect_drug_1_route suspect_drug_1_route reappear" 1fr
    "suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication suspect_drug_1_indication reappear" 1fr
    "suspect_drug_1_therapy_dates suspect_drug_1_therapy_dates suspect_drug_1_therapy_dates suspect_drug_1_therapy_dates suspect_drug_1_therapy_dates suspect_drug_1_therapy_dates suspect_drug_1_therapy_duration suspect_drug_1_therapy_duration suspect_drug_1_therapy_duration suspect_drug_1_therapy_duration suspect_drug_1_therapy_duration" 1fr
    "header_III header_III header_III header_III header_III header_III header_III header_III header_III header_III header_III" auto
    "concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs concomitant_drugs" 2.5fr
    "other_history other_history other_history other_history other_history other_history other_history other_history other_history other_history other_history" 2.5fr
    "header_IV header_IV header_IV header_IV header_IV header_IV header_IV header_IV header_IV header_IV header_IV" auto
    "manufacturer_name manufacturer_name manufacturer_name manufacturer_name manufacturer_name manufacturer_name text text text text text" auto
    "text2 text2 text2 manufacturer_control_number manufacturer_control_number manufacturer_control_number text text text text text" auto
    "date_received_by_manufacturer date_received_by_manufacturer date_received_by_manufacturer source source source text text text text text" auto
    "date_of_report date_of_report date_of_report report_type report_type report_type text text text text text" auto
    / 1.2fr 1fr 1fr 1fr 1fr 1.2fr 1fr 1fr 0.7fr 2fr 3fr;
}

.cioms_form {
    grid-area: cioms_form;
    text-align: right;
    border: none;
}

.suspect_adverse_reaction_report {
    grid-area: suspect_adverse_reaction_report;
    text-align: center;
}

.dummy1 {
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: dummy1;
}

.header_right2 {
    grid-area: header_right2;
}

.dummy2 {
    grid-area: dummy2;
}

.dummy3 {
    grid-area: dummy3;
}

.header_I {
    grid-area: header_I;
    text-align: center;
    border: none;
}

.header_II {
    grid-area: header_II;
    text-align: center;
    border: none;
}

.header_III {
    grid-area: header_III;
    text-align: center;
    border: none;
}

.header_IV {
    grid-area: header_IV;
    text-align: center;
    border: none;
}

.patient_initials {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: patient_initials;
}

.abate {
    grid-area: abate;
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
}

.reappear {
    grid-area: reappear;
}

.suspect_drug_1_name {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: suspect_drug_1_name;
}

.suspect_drug_1_dose {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: suspect_drug_1_dose;
}

.suspect_drug_1_route {
    grid-area: suspect_drug_1_route;
}

.suspect_drug_1_indication {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: suspect_drug_1_indication;
}

.suspect_drug_1_therapy_dates {
    grid-area: suspect_drug_1_therapy_dates;
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
}

.suspect_drug_1_therapy_duration {
    grid-area: suspect_drug_1_therapy_duration;
}

.country {
    grid-area: country;
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
}

.date_of_birth {
    grid-area: date_of_birth;
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
}

.age {
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: age;
}

.sex {
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: sex;
}

.reaction_onset {
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: reaction_onset;
}

.severity {
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: severity;
}

.describe_reaction {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: describe_reaction;
}

.concomitant_drugs {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: concomitant_drugs;
}

.other_history {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: other_history;
}

.manufacturer_name {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: manufacturer_name;
}

.manufacturer_control_number {
    grid-area: manufacturer_control_number;
}

.date_received_by_manufacturer {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: date_received_by_manufacturer;
}

.source {
    grid-area: source;
}

.date_of_report {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: date_of_report;
}

.report_type {
    grid-area: report_type;
}

.text2 {
    border-left: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: text2;
}

.text {
    border-top: 0.05mm solid rgba(0, 0, 0, 0.5);
    grid-area: text;
}
