{
	debug
}


* {
    handle_path /api/* {
        reverse_proxy http://backend:8000
    }
    handle {
        root * /static
        file_server
        try_files {path} /index.html
    }

    log {
        output stderr
    }
}


